body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #ccdae4 0%, #5DADE2 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: #2C3E50;
}

header {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0 10px 0;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

.game-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.card {
    background-color: #ccdae4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 320px;
    text-align: center;
    margin-top: 10px;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.team-score {
    font-size: 1.2em;
    text-align: center;
    color: #9b9b9b;
}

.team-score h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.teamRounds {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    border: 2px solid grey;
}

.teamScores {
    font-size: 1.5em;
    margin: 0;
    border: 2px solid grey;
}

.timer {
    font-size: 2em;
    margin-bottom: 20px;
}

#startTimerButton {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #218838;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

#startTimerButton:hover {
    background-color: #1b6e2d;
}

#startTimerButton:active {
    background-color: #58D68D;
}

.word-to-guess {
    margin-bottom: 20px;
}

.word-to-guess h2 {
    font-size: 1em;
    margin-bottom: 10px;
}

#word {
    font-size: 1.5em;
    font-weight: bold;
    color: #2C3E50;
}

.forbidden-words {
    margin-bottom: 20px;
}

.forbidden-words h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.forbidden-words ul {
    list-style: none;
    padding: 0;
}

.forbidden-words li {
    background-color: #f8d7da;
    color: #721c24;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#confirmButton {
    background-color: #46ac70;
}

#confirmButton:hover {
    background-color: #218838;
}


#buzzButton {
    background-color: #FF6F61;
}

#buzzButton:hover {
    background-color: #c55147;
}


button:active {
    background-color: #003f7f;
}

.active-team {
    color: #2C3E50 !important; /* Highlight active team in blue */
}

.active-button {
    background-color: #28a745; /* Green for active button */
    color: white;
    cursor: pointer;
}

.inactive-button {
    background-color: #ccc !important; /* Greyed out for inactive button */
    color: white !important;
    cursor: not-allowed;
}

#green-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 0, 0.5);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 9999;
}

#green-overlay {
    background-color: rgba(0, 255, 0, 0.5);
}

#red-overlay {
    background-color: rgba(255, 0, 0, 0.5);
}

#green-overlay.show {
    opacity: 1;
}

/* Screen shake effect */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}